.navbar {
    background-color: #262626;
    height: 50px;
    margin-bottom: 50px;
}

.button {
    border-radius: 10px;
    min-width: 75px;
    height: 25px;
    border: 1px solid #333333;
}

.username-button {
    background-color: #121212;
    color: #ffffff;
    float: left;
}

.settings-contacts-button {
    background-color: #bb86fc;
    color: #000000;
    border-color: #333333;
    float: right;
}

.settings-contacts-button:hover {
    background-color: #8f38fa;
}

.logout-button {
    background-color: #03dac5;
    color: #000000;
    border-color: #333333;
    float: right;
}

.logout-button:hover {
    background-color: #03b09f;
}
